h1 {
  font-family: "Playfair Display", serif !important;
  font-size: 5rem;
  color: #38342f;
}
h2 {
  font-family: "Playfair Display", serif !important;
  font-size: 3rem;
  color: #38342f;
}
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif !important;
}
.option-font {
  font-family: "Waterfall", cursive;
  font-size: 4rem;
  color: #38342f;
}
.offert_info_heading {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.tussock {
  background-color: #c0894b;
}
/* .jumbo {
  background-image: url("./images/img5.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.603));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  height: 40rem;
  position: relative;
}
.header_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.header {
  height: auto;
  background-color: #c0894b27;
  position: relative;
  z-index: -1;
}
.img_box {
  /* border-bottom-left-radius: 100%; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
}
.img_header {
  border-bottom-left-radius: 100%;
  max-width: 100%;
}
/* .img_box .img_header {
  mix-blend-mode: overlay;
} */
.header_info {
  margin: auto;
}
.header_info_box {
  max-width: 40rem;
  margin: auto;
}
.offert_info {
  background-color: #ffffff79;
  position: absolute;
  padding: 1.5rem;
  right: 2%;
  top: 2%;
}
.box_rel {
  position: relative;
}

.global_border {
  border-top: 2px solid #c0894b;
  border-bottom: 2px solid #c0894b;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.global_border_bottom {
  border-bottom: 1px solid #c0894b;
  padding-bottom: 0.5rem;
}
.img-box {
  position: relative;
  overflow: hidden;
  width: auto;
  border-radius: 2rem;
}
.about_img {
  border-radius: 2rem;
  max-width: 100%;
  transition: transform 0.3s;
}
.about_img:hover {
  border-radius: 2rem;
  transform: scale(1.15);
  transition: transform 0.3s;
}
.btn_global {
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  width: 10rem;
  color: #ffffff;
  background-color: #c0894b;
  border: none !important;
  outline: none !important;
  font-weight: 700;
  transition: transform 0.3s;
}
.btn_global:hover {
  transform: scale(1.15);
  transition: transform 0.3s;
}
.btn_global_outline {
  /* border: none; */
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid #c0894b;
  width: 10rem;
  color: #c0894b;
  font-weight: 700;
  background-color: #ffffff;
  /* border: none !important; */
  outline: none !important;
  transition: transform 0.3s;
}
.btn_global_outline:hover {
  transform: scale(1.15);
  transition: transform 0.3s;
}
.check_icon {
  font-size: 1.5rem;
}

.img_fullsize {
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url("./images/img3.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.603));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.parter-box {
  background-color: #ffffff;
}
.table_border {
  border-radius: 0.5rem !important;
  border: none !important;
  border-bottom: 5px solid #c0894b !important;
  background-color: rgb(255, 255, 255);
}
.bg_price {
  background-color: #cfd2d22c;
  /* background-color: #c0894b27; */
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c0894b !important;
  border-color: #c0894b !important;
  outline-color: #c0894b !important;
}

.custom-checkbox
  .custom-control-input:checked:focus
  ~ .custom-control-label::before {
  border-color: #c0894b !important;
  outline-color: #c0894b !important;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important;
  border-color: #4d4d4d6c !important;
  outline-color: #c0894b !important;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #ffffff;
  border-color: #c0894b !important;
  outline-color: #c0894b !important;
}
/* Steps */
.step {
  list-style: none;
  margin: 0;
}

.step-element {
  display: flex;
  padding: 1rem 0;
}

.step-number {
  position: relative;
  width: 7rem;
  flex-shrink: 0;
  text-align: center;
}

.step-number .number {
  color: #ffffff;
  background-color: #c0894b;
  font-size: 1.5rem;
}

.step-number .number {
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  border-radius: 10rem;
}

.step-number::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 48px;
  bottom: -2rem;
  margin-left: -1px;
  border-left: 2px dashed #00000033;
}

.step .step-element:last-child .step-number::before {
  bottom: 1rem;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .offert_info_text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
}
